module {{ .packageName }}

go 1.23

require (
	github.com/JensvandeWiel/valkeystore v1.0.0
	github.com/go-sql-driver/mysql v1.8.1
	github.com/google/uuid v1.6.0
	github.com/gorilla/sessions v1.4.0
	github.com/jmoiron/sqlx v1.4.0
	github.com/joho/godotenv v1.5.1
	github.com/labstack/echo-contrib v0.17.1
	github.com/labstack/echo/v4 v4.12.0
	github.com/pressly/goose/v3 v3.22.1
	github.com/romsar/gonertia v1.3.5-0.20241019234335-dd4fa8998cbe
	github.com/samber/slog-echo v1.14.7
	github.com/spf13/cobra v1.8.1
	github.com/spf13/viper v1.19.0
	github.com/swaggo/echo-swagger v1.4.1
	github.com/swaggo/swag v1.16.3
	github.com/valkey-io/valkey-go v1.0.46
    github.com/a-h/templ v0.2.793
)

