package models

type {{.camelNameNoSuffix}} struct {
	ID int `json:"id" db:"id"`
}

// Safe{{.camelNameNoSuffix}} returns a map with sensitive information removed.
func (m *{{.camelNameNoSuffix}}) Safe{{.camelNameNoSuffix}}() map[string]interface{} {
	return map[string]interface{}{
		"id": int(m.ID),
	}
}
